/* CSS Reset by Mirkov Sasa */

/* Resesting defaults & minimize inheritance but keep essential structure */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    all: unset;
    display: revert;
}

/* Setting border box model for easier sizing of elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Setting font size to make 10px = 1rem for easier scaling and manipulation of all elements in rem's */
html {
    font-size: 62.5%;
}

/* Setting default distance between the lines */
body {
    line-height: 1;
}

/* inheriting text for consistency */
input, button, textarea, select {
  font: inherit;
}

/* Removing default styles for lists */    
ol, ul {
    list-style: none;
}

/* Removing defaults styles for quotes */    
blockquote, q {
    quotes: none;
}
     
blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
}
     
/* Removing default outline styles for elements */
:focus {
    outline: 0;
}
     
/* Removing table defaults */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Changing default img properties for easier workflow */
img, picture {
    max-width: 100%;
    display: block;
}
